# webhook
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=
ENV_NAME=

# XAuth
# let these blank (or comment) if you won't to test the XAuth
TWITTER_USERNAME=
TWITTER_PASSWORD=
XAUTH_CONSUMER_KEY=
XAUTH_CONSUMER_SECRET=